<html>
<head></head>
<body>
    <div class="Please press button">
        <h1>Create Successful</h1>
        <form method="GET" action="/find">
            <button type="create" >Back to Find Page</button>    
           </form>
    </div>
</body>
</html>