<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete Restaurant</title>
    </head>


    <body>
        <h1> Delete Restaurant</h1>

        <form action="/delete" method="POST">
        <input type="text" placeholder="name" name="name" required>
        <input type="text" placeholder="Owner" name="Owner" required>

        <button type="Delete">Delete</button>
        </form>
       
    </body>

</html>