<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EDIT MY APP</title>
    </head>


    <body>
        <h1> Edit Restaurant </h1>

        <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" required>
        <input type="text" placeholder="quote" name="quote">
        <input type="text" placeholder="User" name="User">
        <input type="text" placeholder="Borough" name="Borough">
        <input type="text" placeholder="cuisine" name="cuisine">
        <input type="text" placeholder="Address" name="Address">
      

        <button type="submit">Submit</button>
        </form>
       

        <h2> Quotes </h2>

        <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
                <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span><%= quotes[i].name %></span>:
                <!-- Output quote from the iterated quote object -->
                <span><%= quotes[i].quote %></span>
                </li>
            <% } %>
        </ul>

        <div>
            <h2>Darth Vadar invades!</h2>
            <p>
              Replace first Yoda's quote with a quote written by Darth Vadar
            </p>
            <button id="update-button">Replace Yoda's quote</button>
          </div>

        <script src="/main.js"></script>

    </body>

</html>